@model List<DataModel.Quiz>
@{
    ViewBag.Title = "QuizList";
    Layout = "~/Views/Shared/_UsersLayout.cshtml";
}


<div class="container marginTop10">
<div class="panel panel-primary">
    <div class="panel-heading">
        Quiz List
    </div>
    <div class="panel-body">
        <div class="col-lg-12" id="divQiuzList">

    </div>
    </div>
</div>
    
</div>

<script src="~/Scripts/CustomJs/UsersQuizList.js"></script>
