@{
    ViewBag.Title = "QuizCategories";
    Layout = "~/Views/Shared/_UsersLayout.cshtml";
}

<h2>QuizCategories</h2>

<div class="row" id="divQuizCategories">
    <div class="col-lg-3">
        <div class="row">
            <div class="col-lg-12">
                Test Category
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                Total Quiz : 6
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                View More
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/CustomJs/QuizCategories.js"></script>
