@model DataModel.VMQuizAndQuizQuestions
@{
    ViewBag.Title = "QuestionsList";
}

<div class="page-content-wrapper">

    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        
    </div>
    </div>
