@{
    ViewBag.Title = "User Roles";

}

<div class="page-content-wrapper">

    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">

        <div class="clearfix"></div>

        <div class="row paddingTop20">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Add User Roles
                    </div>
                    <div class="panel-body">
                        <form id="frmAddUserRole">
                            <div class="alert alert-dismissible formMessage" style="display: none">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <span class="message"></span>
                            </div>
                            <div class="row paddingTop20">
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    Role Name
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <input type="text" id="txtRoleName" name="txtRoleName" class="form-control" maxlength="50" required="required" />
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    Role Abbrivation
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <input type="text" id="txtRoleAbbrv" name="txtRoleAbbrv" class="form-control" maxlength="50" required="required" />
                                </div>
                            </div>
                            <div class="row paddingTop20">
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    Active
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="material-switch">
                                        <input id="chkActive" name="chkActive" type="checkbox" checked="checked" />
                                        <label for="chkActive" class="label-success"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row paddingTop20">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="button" value="Cancel" class="btn btn-primary pull-right" />
                                    <input type="button" value="Save" class="btn btn-primary pull-right" style="margin-right: 10px;" onclick="AddUserRole()" />

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

</script>

<script src="~/Scripts/CustomJs/UsersRoles.js"></script>
